<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lnavs.com.lnavm.dao.CrgkInfoMapper" >
  <resultMap id="BaseResultMap" type="com.lnavs.pojo.CrgkInfo" >
    <id column="CRGKID" property="crgkid" jdbcType="NUMERIC" />
    <result column="KSH" property="ksh" jdbcType="VARCHAR" />
    <result column="SFZH" property="sfzh" jdbcType="VARCHAR" />
    <result column="XM" property="xm" jdbcType="VARCHAR" />
    <result column="KSNF" property="ksnf" jdbcType="CHAR" />
    <result column="SCORE" property="score" jdbcType="VARCHAR" />
    <result column="YZZT" property="yzzt" jdbcType="NUMERIC" />
    <result column="YZBM" property="yzbm" jdbcType="VARCHAR" />
    <result column="YZSCSJ" property="yzscsj" jdbcType="VARCHAR" />
    <result column="SFSCPDF" property="sfscpdf" jdbcType="NUMERIC" />
    <result column="PDFTIME" property="pdftime" jdbcType="VARCHAR" />
    <result column="PDFLJ" property="pdflj" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CRGKID, KSH, SFZH, XM, KSNF, SCORE, YZZT, YZBM, YZSCSJ, SFSCPDF, PDFTIME, PDFLJ
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from T_CRGK_INFO
    where CRGKID = #{crgkid,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from T_CRGK_INFO
    where CRGKID = #{crgkid,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.lnavs.pojo.CrgkInfo" >
    insert into T_CRGK_INFO (CRGKID, KSH, SFZH, 
      XM, KSNF, SCORE, YZZT, 
      YZBM, YZSCSJ, SFSCPDF, 
      PDFTIME, PDFLJ)
    values (#{crgkid,jdbcType=NUMERIC}, #{ksh,jdbcType=VARCHAR}, #{sfzh,jdbcType=VARCHAR}, 
      #{xm,jdbcType=VARCHAR}, #{ksnf,jdbcType=CHAR}, #{score,jdbcType=VARCHAR}, #{yzzt,jdbcType=NUMERIC}, 
      #{yzbm,jdbcType=VARCHAR}, #{yzscsj,jdbcType=VARCHAR}, #{sfscpdf,jdbcType=NUMERIC}, 
      #{pdftime,jdbcType=VARCHAR}, #{pdflj,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lnavs.pojo.CrgkInfo" >
    insert into T_CRGK_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="crgkid != null" >
        CRGKID,
      </if>
      <if test="ksh != null" >
        KSH,
      </if>
      <if test="sfzh != null" >
        SFZH,
      </if>
      <if test="xm != null" >
        XM,
      </if>
      <if test="ksnf != null" >
        KSNF,
      </if>
      <if test="score != null" >
        SCORE,
      </if>
      <if test="yzzt != null" >
        YZZT,
      </if>
      <if test="yzbm != null" >
        YZBM,
      </if>
      <if test="yzscsj != null" >
        YZSCSJ,
      </if>
      <if test="sfscpdf != null" >
        SFSCPDF,
      </if>
      <if test="pdftime != null" >
        PDFTIME,
      </if>
      <if test="pdflj != null" >
        PDFLJ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="crgkid != null" >
        #{crgkid,jdbcType=NUMERIC},
      </if>
      <if test="ksh != null" >
        #{ksh,jdbcType=VARCHAR},
      </if>
      <if test="sfzh != null" >
        #{sfzh,jdbcType=VARCHAR},
      </if>
      <if test="xm != null" >
        #{xm,jdbcType=VARCHAR},
      </if>
      <if test="ksnf != null" >
        #{ksnf,jdbcType=CHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=VARCHAR},
      </if>
      <if test="yzzt != null" >
        #{yzzt,jdbcType=NUMERIC},
      </if>
      <if test="yzbm != null" >
        #{yzbm,jdbcType=VARCHAR},
      </if>
      <if test="yzscsj != null" >
        #{yzscsj,jdbcType=VARCHAR},
      </if>
      <if test="sfscpdf != null" >
        #{sfscpdf,jdbcType=NUMERIC},
      </if>
      <if test="pdftime != null" >
        #{pdftime,jdbcType=VARCHAR},
      </if>
      <if test="pdflj != null" >
        #{pdflj,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lnavs.pojo.CrgkInfo" >
    update T_CRGK_INFO
    <set >
      <if test="ksh != null" >
        KSH = #{ksh,jdbcType=VARCHAR},
      </if>
      <if test="sfzh != null" >
        SFZH = #{sfzh,jdbcType=VARCHAR},
      </if>
      <if test="xm != null" >
        XM = #{xm,jdbcType=VARCHAR},
      </if>
      <if test="ksnf != null" >
        KSNF = #{ksnf,jdbcType=CHAR},
      </if>
      <if test="score != null" >
        SCORE = #{score,jdbcType=VARCHAR},
      </if>
      <if test="yzzt != null" >
        YZZT = #{yzzt,jdbcType=NUMERIC},
      </if>
      <if test="yzbm != null" >
        YZBM = #{yzbm,jdbcType=VARCHAR},
      </if>
      <if test="yzscsj != null" >
        YZSCSJ = #{yzscsj,jdbcType=VARCHAR},
      </if>
      <if test="sfscpdf != null" >
        SFSCPDF = #{sfscpdf,jdbcType=NUMERIC},
      </if>
      <if test="pdftime != null" >
        PDFTIME = #{pdftime,jdbcType=VARCHAR},
      </if>
      <if test="pdflj != null" >
        PDFLJ = #{pdflj,jdbcType=VARCHAR},
      </if>
    </set>
    where CRGKID = #{crgkid,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lnavs.pojo.CrgkInfo" >
    update T_CRGK_INFO
    set KSH = #{ksh,jdbcType=VARCHAR},
      SFZH = #{sfzh,jdbcType=VARCHAR},
      XM = #{xm,jdbcType=VARCHAR},
      KSNF = #{ksnf,jdbcType=CHAR},
      SCORE = #{score,jdbcType=VARCHAR},
      YZZT = #{yzzt,jdbcType=NUMERIC},
      YZBM = #{yzbm,jdbcType=VARCHAR},
      YZSCSJ = #{yzscsj,jdbcType=VARCHAR},
      SFSCPDF = #{sfscpdf,jdbcType=NUMERIC},
      PDFTIME = #{pdftime,jdbcType=VARCHAR},
      PDFLJ = #{pdflj,jdbcType=VARCHAR}
    where CRGKID = #{crgkid,jdbcType=NUMERIC}
  </update>
  
  <update id="updatePDFStatus" >
    update T_CRGK_INFO
    set SFSCPDF = #{sfscpdf,jdbcType=NUMERIC}
    where YZBM = #{yzbm,jdbcType=VARCHAR}
  </update>

  <select id="selectByYZBM" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from T_CRGK_INFO
    where YZBM = #{yzbm,jdbcType=VARCHAR}
  </select>
  <update id="savePDF">
    update T_CRGK_INFO
    set SFSCPDF = #{sfscpdf,jdbcType=NUMERIC},
      PDFTIME = #{pdftime,jdbcType=VARCHAR},
      PDFLJ = #{pdflj,jdbcType=VARCHAR}
    where YZBM = #{yzbm,jdbcType=VARCHAR}
  </update>
  <select id="getPDFLJ" resultType="java.lang.String" parameterType="java.lang.String" >
  	select PDFLJ from T_CRGK_INFO  where YZBM=#{yzbm,jdbcType=VARCHAR}
  </select>
  <update id="updateCheckStatus" >
    update T_CRGK_INFO
    set YZZT = #{yzzt,jdbcType=NUMERIC}
    where YZBM = #{yzbm,jdbcType=VARCHAR}
  </update>
</mapper>