<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lnavm.dao.SjsfzglInfoMapper" >
  <resultMap id="BaseResultMap" type="com.lnavm.pojo.SjsfzglInfo" >
    <id column="GLID" property="glid" jdbcType="NUMERIC" />
    <result column="SJH" property="sjh" jdbcType="VARCHAR" />
    <result column="SFZH" property="sfzh" jdbcType="VARCHAR" />
    <result column="XM" property="xm" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    GLID, SJH, SFZH, XM
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select
    <include refid="Base_Column_List" />
    from T_SJSFZGL_INFO
    where GLID = #{glid,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from T_SJSFZGL_INFO
    where GLID = #{glid,jdbcType=NUMERIC}
  </delete>
  <delete id="deleteBySJHAndSFZH" parameterType="com.lnavm.pojo.SjsfzglInfo" >
    delete from T_SJSFZGL_INFO
    where SJH = #{sjh, jdbcType=VARCHAR} AND
    SFZH = #{sfzh, jdbcType=VARCHAR}


  </delete>
  <insert id="insert" parameterType="com.lnavm.pojo.SjsfzglInfo" >
    insert into T_SJSFZGL_INFO (GLID, SJH, SFZH, XM
      )
    values (#{glid,jdbcType=NUMERIC}, #{sjh,jdbcType=VARCHAR}, #{sfzh,jdbcType=VARCHAR}, #{xm,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lnavm.pojo.SjsfzglInfo" >
    insert into T_SJSFZGL_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="glid != null" >
        GLID,
      </if>
      <if test="sjh != null" >
        SJH,
      </if>
      <if test="sfzh != null" >
        SFZH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="glid != null" >
        #{glid,jdbcType=NUMERIC},
      </if>
      <if test="sjh != null" >
        #{sjh,jdbcType=VARCHAR},
      </if>
      <if test="sfzh != null" >
        #{sfzh,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lnavm.pojo.SjsfzglInfo" >
    update T_SJSFZGL_INFO
    <set >
      <if test="sjh != null" >
        SJH = #{sjh,jdbcType=VARCHAR},
      </if>
      <if test="sfzh != null" >
        SFZH = #{sfzh,jdbcType=VARCHAR},
      </if>
    </set>
    where GLID = #{glid,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" >
    update T_SJSFZGL_INFO
    set XM = #{xm,jdbcType=VARCHAR},
      SFZH = #{sfzh,jdbcType=VARCHAR}
    where GLID = #{glid,jdbcType=NUMERIC}
  </update>

  <select id="queryBySjh" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from T_SJSFZGL_INFO
    where SJH = #{sjh,jdbcType=VARCHAR}
  </select>

  <select id="querySFZHBySjh" resultType="java.lang.String" parameterType="java.lang.String" >
    select SFZH
    from T_SJSFZGL_INFO
    where SJH = #{sjh,jdbcType=VARCHAR}
  </select>

  <select id="queryGLIDBySfzh" resultType="java.math.BigDecimal" parameterType="java.lang.String">
    select GLID
    from T_SJSFZGL_INFO
    where SFZH = #{sfzh} AND SJH = #{sjh}
  </select>
</mapper>