<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lnavm.dao.YhztInfoMapper" >
    <resultMap id="BaseResultMap" type="com.lnavm.pojo.YhztInfo" >
        <id column="YHZTID" property="yhztid" jdbcType="NUMERIC" />
        <result column="YHID" property="yhid" jdbcType="NUMERIC" />
        <result column="ZTBZ" property="ztbz" jdbcType="NUMERIC" />
    </resultMap>
    <sql id="Base_Column_List" >
    YHZTID,YHID,ZTBZ
    </sql>
    <select id="selectZTByYHID" resultType="java.lang.Integer" parameterType="java.math.BigDecimal">
        select ZTBZ
        from T_YHZT_INFO
        where T_YHZT_INFO.YHID = #{yhid,jdbcType=NUMERIC}
    </select>
    <update id="updataZTBYYHIH">
        update T_YHZT_INFO
        set ZTBZ=#{ztbz,jdbcType=NUMERIC}
        where T_YHZT_INFO.YHID = #{yhid,jdbcType=NUMERIC}
    </update>
    <insert id="insertSelective" parameterType="com.lnavm.pojo.YhztInfo" >
        insert into T_YHZT_INFO
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="yhztid != null" >
                YHZTID,
            </if>
            <if test="yhid != null" >
                YHID,
            </if>
            <if test="ztbz != null" >
                ZTBZ,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="yhztid != null" >
                #{yhztid,jdbcType=NUMERIC},
            </if>
            <if test="yhid != null" >
                #{yhid,jdbcType=VARCHAR},
            </if>
            <if test="ztbz != null" >
                #{ztbz,jdbcType=NUMERIC},
            </if>
        </trim>
    </insert>
</mapper>